
/*styling main page*/

.title{
    color:green;
    background-color:antiquewhite;
    font-size:60px;
    font-weight:bold;
    font-style:italic;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}
.welcome{
    color:lightcoral;
    font-size:30px;
    font-weight:bold;
    text-align:center;

}
.chef{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a:link {
    color:red;
    text-decoration:none;
    font-weight:bold;
    font-size:26px;
}
a:visited {
    color:purple;
    text-decoration:none;
    font-size:26px;
    font-weight:bold;
}
/*styling chilli-con-carne.html*/



/*styling butter-chicken.html*/
.first {
    color:blue;
}
.second {
    color:orange;
}