
/*styling main page*/
h1{
    text-align:center;
}
h2{
    text-align:center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.title{
    color:green;
    background-color:antiquewhite;
    font-size:60px;
    font-weight:bold;
    font-style:italic;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}
.welcome{
    color:lightcoral;
    font-size:30px;
    font-weight:bold;
    text-align:center;

}
.chef{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a:link {
    color:red;
    text-decoration:none;
    font-weight:bold;
    font-size:26px;
}
a:visited {
    color:purple;
    text-decoration:none;
    font-size:26px;
    font-weight:bold;
}
/*styling chilli-con-carne.html*/

.chilli1{
    color:salmon;
}
.chilli2{
    background-color:salmon;
}

.firstc{
    color:salmon;
    background-color:black;
}

.secondc{
    background-color:salmon;
}
.ingredients{
    background-color:salmon;
}
.unorderedc{
    color:salmon;
    background-color:black;
}
.steps{
    color:salmon;
}
.orderedc{
    background-color:salmon;
    text-align:center;
}
/*styling butter-chicken.html*/


.butter1{
    color:red;
}
.butter2{
    background-color:red;
}
.first {
    color:blue;
    text-align:center;
}
.second {
    color:orange;
    text-align:center;
}
.ingredients2 {
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
    font-weight: lighter;
    font-style: oblique;
    background-color: lavenderblush;
}

/*styling chicken-fried-rice.html*/

.fried1 {
    color:tomato;
}

.fried2 {
    background-color:tomato;
}
.para {
    color:lightskyblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:22px;
}

.ing{
    font-weight:bold;
    font-size:28px;
}

.ul1{
    font-weight:bold;
}
.steps1{
    text-align:center;
}
.ol1{
    color:midnightblue;
    text-transform:uppercase;
}